
# System
logs/
config.json
dummy
val_output/
data/
*.log
*.pid
resolve_status_debug.txt
.DS_Store
__MACOSX/

# Python
**/__pycache__/
*.pyc
.coverage
MagicMock/

# IDE / Env
.vscode/
.idea/
venv/
.venv/

models/
tools/