.modal-input {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #444;
    background-color: #333;
    color: var(--text);
    font-size: 0.9rem;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.modal-input:focus {
    border-color: var(--primary);
}